div{
  margin-bottom: 4px;
}
button {
  padding: 13px 20px;
  text-align: center;
  /* border: none; */
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  color: white;
  /* max-width: 50px; */
  /* white-space:nowrap;
  overflow:hidden;  */
}

.button1 {background-color: darkcyan;}
.button2 {background-color: orangered;}
.button3 {background-color: orange;}
.minus {
  padding: 13px 22px;
}
.zero{
  padding:13px 48px;
}
.equal{
  margin-left:4px;
  padding:38px 20px;
  position: absolute;
  /* overflow:hidden; */
}

.del{
  font-size:10px;
}