.body-container{
  display:flex;
  flex-direction: column;
  width:100%;
  height:100vh;
  align-items: center;
}
.title{
  margin: 5vh 0 10vh 0;
  font-family: sans-serif;
  font-size: 50px;
}
.calculator-container{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 0.1em solid;
}
.screen{
  width:100%;
  margin-bottom: 4px;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  border: black 0.1em solid;
}
.grid-container {
  display: grid;
  width:100%;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 60px);
}
.zero{
  grid-column: 1 / 3;
}
.equal{
  grid-row: 4/6;
  grid-column: 4;
}
.screen{
  margin: 0;
  max-width: 278px;
  text-align: right;
  background-color: rgb(255, 255, 255);
  border-bottom: black 0.1em solid;
  border: black 1px solid;
}
.calculatedNumber{
  margin: 0;
  padding-right:10px;
  font-size: 25px;
  line-height: 70px;
}
.grid-container button{
  color:rgb(255, 255, 255);
  font-size:18px;
  border: 1px solid black;
  cursor: pointer;
}
.button1 {background-color: rgb(4, 112, 220);}
.button2 {background-color: orangered;}
.button3 {background-color: rgb(255, 149, 0);}